<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>绑定页面</title>
<!--    <link rel="stylesheet" href="./layui/css/layui.css">-->
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/bind.css">
</head>
<body>
    <div id="content">
<!--        <a class="layui-btn" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx226ffc0b68fa17e9&redirect_uri=http://www.szwd.online/wx/listBindUserPage&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect">公众号授权</a>-->

        <!--        Hello, this is bind page-->
<!--        <button type="button" class="layui-btn" id="toBind" v-on:click="bindNow">立即绑定</button>-->
        <button type="button"  v-on:click="bindNow" class="layui-btn">立即绑定</button>
<!--        <a href="http://www.layui.com" class="layui-btn">一个可跳转的按钮</a>-->
        <br>
        <div v-show="shopShow" id="tips">
            请扫描下方二维码并关注公众号 <br>
            关注后会收到一条公众号授权绑定消息，点击消息详情进行授权。
        </div>

<!--        <img id="qrcode" src="">-->
        <img v-show="shopShow" id="qrcode" v-bind:src="wxQrCodeurl">
        <br>
<!--        <button v-show="shopShow" type="button" class="layui-btn" id="confirmBind" v-on:click="scaned">我已扫描</button>-->
    </div>


<script src="/js/jquery.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/bindVue.js"></script>


</body>
</html>