<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看信息详情</title>
    <style type="text/css">
        .success {
            margin:100px auto;
            color:green;
            font-weight:700;
            width:600px;
            height:200px;
            border:1px solid grey;
            text-align: center;
            line-height: 200px;
        }
    </style>
</head>
<body>
<!--    <div class="success">-->
<!--        当前时间：-->
<!--    </div>-->

</body>

<script type="text/javascript">
    var myDate = new Date();
    document.write("当前时间：" + myDate.toLocaleString())
</script>
</html>