
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>服务器列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <style type="text/css">
        td{
            border:1px solid gray;
        }
          
        table{
            border-collapse:collapse;
        }
      
        div#app{
            margin:20px auto;
            width:900px;
            padding:20px;

        }      
        
        div#pagination{
        	text-align: center;
			#line-height: 100px;
        }
        div#pagination a{
        	text-decoration:none;
        }
        
        .disableHref{
		    cursor:default;
		    color:#E5E0E0;
		    text-decoration:none;        
        }
    </style>
    <script>
	    $(function(){
	    	$("a.disableHref").click(function(event){
	    		return false;
// 	    		  event.preventDefault();
	    	});
	    });
    </script>
</head>

<body>
<div id="app">
    发送信息列表页面：
    <table id="bindApplyListTable" class="layui-table" lay-even>
        <thead>
        <tr>
            <td>服务器Id</td>
            <td>服务器名称</td>
            <td>客户Id</td>
            <td>数据服务Url</td>
            <td>Ip地址</td>
        </tr>
        </thead>
        <tr v-for="server in servers">
            <td>{{server.id}}</td>
            <td>{{server.serverName}}</td>
            <td>{{server.customerId}}</td>
            <td>{{server.serverUrl}}</td>
            <td>{{server.serverIp}}</td>
        </tr>

        <tr>
            <td colspan="5">
                <div id="pagination" >
                    <a class="layui-btn layui-btn-xs" :class="{ disableHref: pagination.pageNum==1 }" href="#nowhere" @click="jump('first')">第一页</a>
                    <a class="layui-btn layui-btn-xs" :class="{ disableHref: !pagination.hasPreviousPage }" href="#nowhere" @click="jump('pre')">前一页</a>

                    <a class="layui-btn layui-btn-xs" href="#nowhere" :class="{disableHref:pagination.pageNum==i}"  v-for="i in pagination.navigatepageNums" @click="jumpByNumber(i)" >
                        {{i}}
                    </a>

                    <a class="layui-btn layui-btn-xs" :class="{ disableHref: !pagination.hasNextPage }" href="#nowhere" @click="jump('next')">下一页</a>
                    <a class="layui-btn layui-btn-xs" :class="{ disableHref: pagination.pageNum==pagination.pages }" href="#nowhere" @click="jump('last')">最后一页</a>
                </div>

            </td>
        </tr>

    </table>
    <img v-bind:src="qrCode">
</div>

<script type="text/javascript">
    var data4Vue = {
            servers: [],
            pagination:{},
            qrCode: '',
	};

    //ViewModel
    var vue = new Vue({
        el: '#app',
        data: data4Vue,
        mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
        	this.list(1);
        },        
        methods: {     	
        	list:function(start){
                var url = "/server/servers?start="+start;
                axios.get(url).then(function(response) {
                	vue.pagination = response.data;
                	console.log(vue.pagination);
                	vue.servers = response.data.list;
                })     
        	},        	
            jump: function(page){
				if('first'== page && 1!=vue.pagination.pageNum)
					vue.list(1);
				
				else if('pre'== page &&	vue.pagination.hasPreviousPage )
					vue.list(vue.pagination.prePage);
				
				else if('next'== page && vue.pagination.hasNextPage)
					vue.list(vue.pagination.nextPage);					
				
				else if('last'== page && vue.pagination.pageNum!=vue.pagination.pages)
					vue.list(vue.pagination.pages);
				
            },
            jumpByNumber: function(start){
            	if(start!=vue.pagination.pageNum)
					vue.list(start);
            }
        }
    });
    </script>
</body>
</html>
		
