
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <style type="text/css">
        td{
            border:1px solid gray;
        }
          
        table{
            border-collapse:collapse;
        }
      
        div#app{
            margin:20px auto;
            width:800px;
            padding:20px;

        }      
        
        div#pagination{
        	text-align: center;
			#line-height: 100px;
        }
        div#pagination a{
        	text-decoration:none;
        }
        
        .disableHref{
		    cursor:default;
		    color:#E5E0E0;
		    text-decoration:none;        
        }
        #sendMsg{
            width:300px;
        }
        .layui-form-label {
            padding: 9px 0px;
            text-align: left;
        }
    </style>
    <script>
	    $(function(){
	    	$("a.disableHref").click(function(event){
	    		return false;
// 	    		  event.preventDefault();
	    	});
	    });
    </script>
</head>

<body>
<div id="app">
    用户列表页面：
    <table id="bindApplyListTable" class="layui-table" lay-even>

        <thead>
        <tr>
            <td>服务器Id</td>
            <td>用户Id</td>
            <td>用户名称</td>
            <td>手机号</td>
            <td>微信昵称</td>
            <td>openid</td>
            <td>微信昵称2</td>
            <td>openid2</td>
            <td>操作</td>
        </tr>
        </thead>
        <tr v-for="userInfo in userInfos">
            <td>{{userInfo.serverId}}</td>
            <td>{{userInfo.userId}}</td>
            <td>{{userInfo.userName}}</td>
            <td>{{userInfo.phone}}</td>
            <td>{{userInfo.wxNickname}}</td>
            <td>{{userInfo.openId}}</td>
            <td>{{userInfo.wxNickname2}}</td>
            <td>{{userInfo.openId2}}</td>
<!--            <td>{{bindApply.userOpenid}}</td>-->
<!--            <td v-html="bindApply.status==0?'未审核':'已审核'">{{bindApply.status}}</td>-->
            <td>
<!--                <button type="button" v-if="bindApply.status==0" @click="review(bindApply.id)" class="layui-btn layui-btn-sm">审核</button>-->
<!--                <span v-else>已审核</span>-->
                <button type="button"  @click="sendMsgToUser(userInfo.id)" class="layui-btn layui-btn-sm">发送消息</button>
<!--                <span v-else>已审核</span>-->
            </td>
        </tr>

        <tr>
            <td colspan="9">
                <div id="pagination" >
                    <a class="layui-btn layui-btn-xs" :class="{ disableHref: pagination.pageNum==1 }" href="#nowhere" @click="jump('first')">第一页</a>
                    <a class="layui-btn layui-btn-xs" :class="{ disableHref: !pagination.hasPreviousPage }" href="#nowhere" @click="jump('pre')">前一页</a>

                    <a class="layui-btn layui-btn-xs" href="#nowhere" :class="{disableHref:pagination.pageNum==i}"  v-for="i in pagination.navigatepageNums" @click="jumpByNumber(i)" >
                        {{i}}
                    </a>

                    <a class="layui-btn layui-btn-xs" :class="{ disableHref: !pagination.hasNextPage }" href="#nowhere" @click="jump('next')">下一页</a>
                    <a class="layui-btn layui-btn-xs" :class="{ disableHref: pagination.pageNum==pagination.pages }" href="#nowhere" @click="jump('last')">最后一页</a>
                </div>

            </td>
        </tr>

    </table>
<!--    <img v-bind:src="qrCode">-->
    <div id="sendMsg" v-show='showMsgForm'>
<!--        id:-->
        <input type="hidden" v-model="hero4Update.id" />
        <br>
<!--        服务器Id：-->
        <input type="hidden" v-model="hero4Update.serverId" class="layui-input" readonly/>
        <br>
<!--        用户Id:-->
<!--        <input type="number" v-model="hero4Update.userId" class="layui-input" readonly/>-->
<!--        <br>-->
        <div class="layui-form-item">
            <label class="layui-form-label">用户代码:</label>
            <div class="layui-input-block">
                <input v-model="hero4Update.userId" type="text" autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名称:</label>
            <div class="layui-input-block">
                <input v-model="hero4Update.userName" type="text" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户openId:</label>
            <div class="layui-input-block">
                <input v-model="hero4Update.openId" type="text" class="layui-input" readonly>
            </div>
        </div>
<!--        用户名称:-->
<!--        <input type="text" v-model="hero4Update.userName" class="layui-input" readonly/>-->
<!--        <br>-->
<!--        用户openId:-->
<!--        <input type="text" v-model="hero4Update.openId" class="layui-input" readonly/>-->
<!--        <br>-->
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">请选择一个消息模板</label>-->
<!--            <div class="layui-input-block">-->
<!--                <select name="messageName" v-model="messageName">-->
<!--                    <option value="流程待审批提醒">流程待审批提醒</option>-->
<!--                    <option value="异地登录提醒">异地登录提醒</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->

            <select name="messageName" v-model="messageName" class="layui-input">
                <option value="" class="layui-input layui-unselect" placeholder="请选择一个消息模板" readonly>请选择一个消息模板</option>
                <option value="流程待审批提醒">流程待审批提醒</option>
                <option value="异地登录提醒">异地登录提醒</option>
            </select>

<!--        <br>-->
        <button type="button" @click="confirmSend" class="layui-btn layui-btn-sm" style="margin:20px 220px;">确认发送</button>
<!--        <button type="button"  v-on:click="cancel">取消-->

    </div>
</div>

<script type="text/javascript">
    var data4Vue = {
            userInfos: [],
            hero4Update: { id: 0, serverId: 0, userId: 0, userName: '', openId: ''},
<!--            hero4Add: { userName: '', description: ''},-->
            pagination:{},
            messages: ['流程待审批提醒','异地登录提醒'],
            messageName: '',
            showMsgForm: false,
<!--            qrCode: '',-->
	};

    //ViewModel
    var vue = new Vue({
        el: '#app',
        data: data4Vue,
        mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
        	this.list(1);
        },        
        methods: {     	
        	list:function(start){
                var url = "/userInfo/userInfos?start="+start;
                axios.get(url).then(function(response) {
                	vue.pagination = response.data;
                	console.log(vue.pagination);
                	vue.userInfos = response.data.list;
                })     
        	},        	
            sendMsgToUser: function (id, event) {
                var url = "/userInfo/get/" + id;
                axios.get(url).then(function(response){
                    console.log(response);
                    if(response.data.code == 200) {
                        if(response.data.success == true) {
<!--                            alert(response.data.msg);-->
                            vue.hero4Update = response.data.data;
                            vue.showMsgForm = true;
                        } else{
                            alert(response.data.msg);
                        }
                    } else{
                        alert("请求失败");
                    }
<!--                    vue.list(1);-->
                });
            },
            confirmSend: function(event) {
<!--                alert(vue.messageName);-->
                if(vue.messageName == '') {
                    alert("请选择一个消息模板");
                    return;
                }
                var url = "/userInfo/sendWxMsgToUser/" + vue.hero4Update.id + "/" + vue.messageName;
                axios.get(url).then(function(response){
                    console.log(response);
                    if(response.data.code == 200) {
                        if(response.data.success == true) {
                            alert(response.data.msg);
<!--                            vue.hero4Update = response.data.data;-->
                        } else{
                            alert(response.data.msg);
                        }
                    } else{
                        alert("请求失败");
                    }
                });
            },
            jump: function(page){
				if('first'== page && 1!=vue.pagination.pageNum)
					vue.list(1);
				
				else if('pre'== page &&	vue.pagination.hasPreviousPage )
					vue.list(vue.pagination.prePage);
				
				else if('next'== page && vue.pagination.hasNextPage)
					vue.list(vue.pagination.nextPage);					
				
				else if('last'== page && vue.pagination.pageNum!=vue.pagination.pages)
					vue.list(vue.pagination.pages);
				
            },
            jumpByNumber: function(start){
            	if(start!=vue.pagination.pageNum)
					vue.list(start);
            }
        }
    });
    </script>
</body>
</html>
		
